 <h2> <%= @product.name %> </h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Reservation by</th>
          <th scope="col">Guest</th>
          <th scope="col">Date</th>
          <th scope="col">Document</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% @bookings.each do |booking| %>
          <tr>
          <td><%= booking.shopping_cart.user.first_name %></td>
          <td></td>
          <td><%= booking.date %></td>
          <td><%= booking.shopping_cart.user.document %></td>
          <td><%= booking.shopping_cart.user.email %></td>
          <td><%= booking.shopping_cart.user.phone %></td>
          <td><%= booking.canceled ? "Canceled" : "Active" %></td>
          </tr>
          <% booking.guests.each do |guest| %>
          <tr>
            <td></td>
            <td> <%= guest.name %> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
