<h1>Dashboard Home</h1>

<%= line_chart User.group_by_day(:created_at).count %>

<div class="container">
  <%= image_tag("g1.png", class: "graphic") %>

  <%= image_tag("g2.png", class: "graphic") %>

  <%= image_tag("g3.png", class: "graphic") %>

  <%= image_tag("g4.png", class: "graphic") %>
</div>
