<%# This prevents turbolinks cache %>
<div class="container">
<%= provide(:turbolinks_cache, 'no-cache') %>
<% content_for(:deferfalse) do %>
  <%= false %>
<% end %>

  <div class='dash-title'>
    <h1>My Dashboard</h1>
  </div>

<div class="d-flex mt-5 justify-content-between">
  <div>
      <h3>
        Booked trips of the day
      </h3>
      <% @products.each do |product| %>
        <% if product.status%>
          <%= link_to company_products_path do%>
            <div class="trip-card mb-2 d-flex">
            <%= cl_image_tag product.photo.key if product.photo.attached? %>
              <div class="trip-card-infos">
                <h2>
                  <%= "#{product.name} (#{product.activity})"%>
                </h2>
                <% @bookings_by_date = Booking.where(product_id: product.id, date: @date)%>
                <% @participants_array = @bookings_by_date.map do |booking| %>
                  <% booking.guests.size + 1 %>
                <% end %>
                <% @participants_array.empty? ? @total_participants = 0 : @total_participants = @participants_array.reduce(:+) %>
                <h6 class="mt-2">
                  <%= "There are #{product.capacity - @total_participants} spots left."%>
                </h6>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>

  <div>
    <h3> Booked trips for tomorrow </h3>
    <% @products.each do |product| %>
      <% if product.status%>
        <%= link_to company_products_path do%>
          <div class="trip-card mb-2 d-flex">
            <%= cl_image_tag product.photo.key if product.photo.attached? %>
            <div class="trip-card-infos">
              <h2><%= "#{product.name} (#{product.activity})"%></h2>
              <% @bookings_by_date = Booking.where(product_id: product.id, date: @date + 1)%>
              <% @participants_array = @bookings_by_date.map do |booking| %>
                <% booking.guests.size + 1 %>
              <% end %>
              <% @participants_array.empty? ? @total_participants = 0 : @total_participants = @participants_array.reduce(:+) %>
              <h6 class="mt-2">
                <%= "There are #{product.capacity - @total_participants} spots left."%>
              </h6>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>



  <div>
    <div class='flex-graph p-5' data-turbolinks='false'>
        <%= column_chart company_charts_booking_chart_path, ytitle: "nº of bookings" , colors: ["#004461ff", "#0091b7ff"], title:"Daily bookings" %>
        <%= line_chart company_charts_financials_chart_path, ytitle: "R$", colors: ["#004461ff", "#0091b7ff"], title:"Daily income" %>
    </div>
    <div class='flex-graph mt- 5 p-5' data-turbolinks='false'>
        <%= line_chart company_charts_participants_chart_path, ytitle: "nº of participants", colors: ["#004461ff", "#0091b7ff"], title:"Participants", library: { spanGaps: true } %>
        <%= pie_chart company_charts_product_chart_path, colors: ["#004461ff", "#0091b7ff"], title:"My products' bookings" %>
    </div>
  </div>

</div>
