<h1>teste</h1>
<%= current_user.company.name %>
<%# current_user.company.products.first.activity %>
<% @bookings.each do |booking| %>
   <li> <%=  booking.product.name %>
        R$ <%= booking.price %>
        <%= booking.canceled %>
        <% booking.guests.each do |guest| %>
          <%= guest.name %>
        <% end %>
        <%= booking.date %>
   </li>
<% end %>
<% console %>
