<div class="container">
  <h1>Trips</h1>

  <%= simple_form_for :search, url: company_products_path, method: :get do |f| %>
    <%= f.input :product,
                collection: @products.map { |product| product },
                selected: (params[:search][:product] if params[:search]) %>
    <%= f.input :date, as: :string, required: false,
                input_html: { class: 'datepicker' },
                placeholder: (beautiful_date_helper(@date) if @date) %>
    <% if params[:search].nil? %>
      <%= f.submit "Search", class: "btn btn-primary"%>
    <% else %>
      <% if params[:search][:date].empty? %>
        <%= f.submit "Search", class: "btn btn-primary"%>
      <% else %>
      <%= f.submit "Clear date", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

<div class="d-flex justify-content-between">
  <%= link_to 'Export to PDF',
  company_products_path(params: params.permit(search: {}), format: :pdf),
  class: "mt-4 btn btn-secondary" %>

  <div class="capacity">
    <% unless @products.empty? %>
      <p><%="Total participants: #{@total_participants}, Spots left: #{@product.capacity - @total_participants}"%></p>
      <p></p>
    <% end %>
  </div>
</div>


  <h2> <%= @product.name if @product %> </h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Reservation by</th>
          <th scope="col">Guest</th>
          <th scope="col">Date</th>
          <th scope="col">Document</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="table-hover">
        <% if @bookings %>
        <% @bookings.each do |booking| %>
          <tr>
          <td><%= booking.shopping_cart.user.first_name %></td>
          <td></td>
          <td><%= booking.date %></td>
          <td><%= booking.shopping_cart.user.document %></td>
          <td><%= booking.shopping_cart.user.email %></td>
          <td><%= booking.shopping_cart.user.phone %></td>
          <td><%= booking.canceled ? "Canceled" : "Active" %></td>
          </tr>
          <% booking.guests.each do |guest| %>
          <tr>
            <td></td>
            <td> <%= guest.name %> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% end %>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
