<div class='container'>
<h1 style="margin:40px">You order history</h2>
<h3 style="color:#28df99;font-size:30px"><b>Confirmed</b></h3>  
 <div class="d-flex" >
  <!-- > <i class="far fa-check-circle"></i> <-->
    <div >
      <ul>
         <% @pay_shopping_carts = @pay_shopping_carts.order(updated_at: :desc) %>
        <% @pay_shopping_carts.each do |shopping_cart| %>
          <!-- ><h4> <strong> Order number <%= shopping_cart.id %></strong> </h4> < -->
          <% shopping_cart.bookings.each do |booking| %>
            <div class="card-product card-cart-index p-4 m-4">
              <li>
                <div class="d-flex">
                  <%= image_tag(booking.product.photo) if booking.product.photo.present? %>
                  <div class="m-4">
                    <h4>Your <%= booking.product.name %> tour will be on <%= booking.date %>  </h4>
                     Paid  R$ <%= booking.price %> for <%= "#{booking.guests.size+1} people" %>,
                    <p> bought on <%= booking.updated_at %> </p>
                    <p> Offered by <%= booking.product.company.name %> </p>
                  </div>
                </div>
              </li>
            </div>
          <% end %>
          <hr>
        <% end %>
      </ul>
    </div>
</div>
<p></p>
<p></p>

<% if @cancel_shopping_carts.empty? %>
<p style="color:#0f3460;font-size:30px;font-family: Nunito, Helvetica, sans-serif;line-height: 1.2;"><b><%= 'Have a nice trip!' %></b></p>
    <% else %>
 <p style="color:#ec0101;font-size:30px;font-family: Nunito, Helvetica, sans-serif;line-height: 1.2;"><b><%= 'Cancelled' %></b><p>
<div>
  <!-- > <i class="far fa-window-close" ></i> <--> 
    <div>
      <% @cancel_shopping_carts.each do |shopping_cart| %>
      <!-- > <p> Order number <%= shopping_cart.id %> </p> <-->
      <% shopping_cart.bookings.each do |booking| %>
      <li> 1x <%= booking.product.name %>,

      R$ <%= booking.product.price * booking.participants %>,
      made on <%= booking.updated_at %></li>
    <% end %>
  <% end %>
  <% end %>
    </div>
  </div>
</div>
