<div class="container">

<div>
  <ul>
    <% @shopping_cart.bookings.each do |booking| %>
      <li>
      <div class="row d-flex card-product mt-3 mb-3">
          <div class="d-flex ml-5">
            <%= image_tag(booking.product.photo) if booking.product.photo.present? %>
            <div class="ml-3">
              <h4>You selected the <%= booking.product.name %> tour:</h4>
              <%# booking_price = booking.product.price %>
              <% participants = booking.guests.size + 1 %>
              <p> R$ <%= booking.price %> for <%= participants %> people
              on <%= booking.date %> </p>
            </div>
          </div>
          <div class="row d-flex">
            <div class="ml-5">
              <p><%= link_to "Reschedule", edit_booking_path(booking.id) %> <i class="fas fa-calendar"></i> </p>
              <p> <%= link_to "Remove from your cart", booking_path(booking.id), method: :delete, remote: true %> <i class="fas fa-trash-alt"></i> </p>
            </div>
            <div class="ml-5 justify-content-left">
            </div>
          </div>
        </div>
      </li>
      <% end %>
    </ul>

    <h2> Total: R$ <%= @shopping_cart.calc_total_price %> </h2>

  </div>

  <div style="text-align:center">
    <%= link_to "Checkout", shopping_carts_path, method: :post, class: "btn btn-primary" unless @shopping_cart.bookings.empty?%>
    <%= link_to "Booking history", shopping_carts_path, class: "btn btn-primary" %>
  </div>

<!-- <button id="pay" class="btn btn-primary">Pay</button>
 <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @shopping_cart.checkout_session_id %>'
          });
        });
      </script>
 -->