<h1>Your shopping cart</h1>
<ul>
  <% @shopping_cart.bookings.each do |booking| %>
  <li> 1x <%= booking.product.name %>,
    R$ <%= booking.product.price %>,
    on <%= booking.date %></li>
    <spam> <%= link_to "Remove from cart", booking_path(booking.id), method: :delete %> </spam>
    <p><%= link_to "Reschedule", edit_booking_path(booking.id) %> </p>
  <% end %>
  <li> Total: R$ <%= @shopping_cart.calc_total_price %> </li>
</ul>

<%= link_to "Pay", pay_shopping_cart_path, class: "btn btn-primary", method: :patch unless @shopping_cart.bookings.empty?%>
