


    <div class="carousel-hero">
      <div class="main-carousel">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div>
                <div class="carousel-item drk active">
                  <img class="d-block w-100" src="<%= image_url('background-1v.jpg') %>" alt="First slide">
                </div>
                <div class="carousel-item drk">
                  <img class="d-block w-100" src="<%= image_url('background-2v.jpg') %>" alt="Second slide">
                </div>
                <div class="carousel-item drk">
                  <img class="d-block w-100" src="<%= image_url('background-3v.jpg') %>" alt="Third slide">
                </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="title">
        <h1 class="hero-title"><span class="title-first">Arraial</span><span class="title-second"> is </span> <span class="title-third" id="change"> BEACH</span></h1>
        <h4 class="hero-title-h4" >Explore this paradise!</h4>
      </div>

      <script>
        var text = ["SUN", "SEA", "DIVE", "PARADISE"];
        var counter = 0;
        var elem = document.getElementById("change");
        if (!inst) {
          var inst = setInterval(change, 2500);
        }
        function change() {
          elem.innerHTML = text[counter];
          counter++;
          if (counter >= text.length) {
          counter = 0;
    // clearInterval(inst); // uncomment this if you want to stop refreshing after one cycle
          }
        }
      </script>
    </div>

   <!--  <div class="container">
      <h2 class="mt-5">Choose your Paradise</h2>
      <div class="cards">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../assets/images/melhor.jpg)">
          Breakfast
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Breakfast
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Dinner
        </div>
      </div>

      <div class="cards mt-3">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Breakfast
        </div>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          Breakfast
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
          Lunch
        </div>

        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
          Dinner
        </div>
      </div>
    </div> -->



    <div class="container">


      <div class="top-products">
        <h2 class="mt-5">Top trips</h2>
        <div class="d-flex mb-5">
           <%= link_to product_path(@products.first.id) do %>
              <div class="card-trip mr-2">
                <%= cl_image_tag @products.first.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.first.name} - #{@products.first.activity}" %></h2>
                    <p><%= @products.first.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%="R$ #{@products.first.price}" %></h2>
                </div>
              </div>
              <% end %>
              <%= link_to product_path(@products.second.id) do %>
              <div class="card-trip ml-2 mr-2">
                <%= cl_image_tag @products.second.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.second.name} - #{@products.second.activity}" %></h2>
                    <p><%= @products.second.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing ml-1" ><%="R$ #{@products.second.price}" %></h2>
                </div>
              </div>
              <%end%>
              <%= link_to product_path(@products.third.id) do %>
              <div class="card-trip ml-2">
                <%= cl_image_tag @products.third.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.third.name} - #{@products.third.activity}" %></h2>
                    <p><%= @products.third.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%="R$ #{@products.third.price}" %></h2>
                </div>
              </div>
              <%end%>
            </div>
          </div>




      <div class="gridblock">
        <h2 class="whattodo">How do you want to enjoy the paradise?</h2>
        <div class="cards justify-content-center">
          <%= link_to day_trip_products_path do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("barco-novo.jpg") %>) ">
              Day Trip
            </div>
          <% end %>
          <%= link_to dive_products_path do %>
            <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url("acqua-world.jpg") %>)">
              Dive
            </div>
          <% end %>
        </div>



    </div>
  </div>




  <%if current_user.nil? || current_user.company.nil? %>
    <div class="owner">
      <div class="container">
        <p>Do you have a tour company? Register <%= link_to "here", "/companies/new" %> and offer your tour!</p>
      </div>
    </div>
  <% end %>

