<div class="carousel-hero">
  <div class="main-carousel">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item drk active">
          <img class="d-block w-100" src="<%= image_url('background-1v.jpg') %>" alt="First slide">
        </div>
        <div class="carousel-item drk">
          <img class="d-block w-100" src="<%= image_url('background-2v.jpg') %>" alt="Second slide">
        </div>
        <div class="carousel-item drk">
          <img class="d-block w-100" src="<%= image_url('background-3v.jpg') %>" alt="Third slide">
        </div>
      </div>
    </div>
  </div>
  <div class="title">
    <div>
      <h1 class="hero-title"><span class="title-first">Arraial</span><span class="title-second"> é </span> <span class="title-third" id="change"> PRAIA</span></h1>
    </div>
    <div>
      <h4 class="hero-title-h4" >Explore esse paraíso!</h4>
    </div>
    <script>
      var text = ["PRAIA", "MAR", "SOL", "LINDO", "TUDO"];
      var counter = 0;
      var elem = document.getElementById("change");
      if (!inst) {
        var inst = setInterval(change, 2500);
      }
      function change() {
        elem.innerHTML = text[counter];
        counter++;
        if (counter >= text.length) {
          counter = 0;
        }
      }
    </script>

    <div class="arrow">

                <span><a href="#"></a></span>
    </div>
  </div>
</div>

<div class="container">
  <div class="title-bemvindo">
  <h2 class="mt-4">Bem-vindo a Arraial do Cabo!</h2>
  <h5 class="container mt-0 mb-5">Aqui você escontra tudo o que você precisa para curtir o melhor da cidade. Dicas das melhores
  praias, restaurantes, passeios de barco e hospedagem.</h5>
  </div>
  <div class="row bem-vindo d-flex">
    <div class="card-bemvindo">
      <i class="fas fa-bed"></i>
      <h3>Hospedagem</h3>
      <p>Confira os melhores hotéis e pousadas da cidade</p>
      <%= link_to day_trip_products_path do %>
        <div class="btn-primary p-1">
          <p>Veja mais</p>
        </div>
      <% end %>
    </div>
    <div class="card-bemvindo">
      <i class="fas fa-ship"></i>
      <h3>Passeios</h3>
      <p>Encontre os melhores passeios de barco da região</p>
      <%= link_to day_trip_products_path do %>
        <div class="btn-primary p-1">
          <p>Descubra</p>
        </div>
      <% end %>
    </div>
    <div class="card-bemvindo">
      <i class="fas fa-fish"></i>
      <h3>Mergulho</h3>
      <p>Explore as belezas da "Capital Nacional do Mergulho</p>
      <%= link_to dive_products_path do %>
        <div class="btn-primary p-1">
          <p>Explore</p>
        </div>
      <% end %>
    </div>
    <div class="card-bemvindo">
      <i class="fas fa-utensils"></i>
      <h3>Restaurantes</h3>
      <p>Descubra a culinário da cidade de Arraial do Cabo</p>
      <%= link_to day_trip_products_path do %>
        <div class="btn-primary p-1">
          <p>Saboreie</p>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="container praias">
  <h2 class="mt-5">Escolha a sua praia favorita</h2>
  <div class="row">
    <div class="d-flex card-line">
      <div class="card-category mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("prainha-1.jpg") %>)">
        <h3>Prainha</h3>
      </div>
      <div class="card-category ml-2 mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("praia-grande.jpg") %>)">
        <h3>Praia Grande</h3>
      </div>
      <div class="card-category ml-2 mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("prainhas-1.jpg") %>)">
        <h3>Prainhas do Pontal</h3>
      </div>
      <div class="card-category ml-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("forno-1.jpg") %>)">
        <h3>Praia do Forno</h3>
      </div>
    </div>
    <div class="d-flex card-line mt-3">
      <div class="card-category mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("farol-1.jpg") %>)">
        <h3>Ilha do Farol</h3>
      </div>
      <div class="card-category ml-2 mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("praia-brava-1.jpg") %>)">
        <h3>Praia Brava</h3>
      </div>
      <div class="card-category ml-2 mr-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("anjos-1.jpg") %>)">
        <h3>Praia dos Anjos</h3>
      </div>
      <div class="card-category ml-2" style="background-image: linear-gradient(rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)), url(<%= image_path("pontal.jpg") %>)">
        <h3>Praia do Pontal</h3>
      </div>
    </div>
  </div>
</div>

<div>
  <h2 class="mt-5">O guia em video</h2>
  <iframe class="mt-5" width="100%" height="500" src="https://www.youtube.com/embed/ZoX3jDj0_Ok" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="top-products">
  <h2 class="mt-5">Top trips</h2>
  <div class="d-flex mb-5">
    <%= link_to product_path(@products.first.id) do %>
    <div class="card-trip mr-2">
      <%= cl_image_tag @products.first.photo.key%>
      <div class="card-trip-infos">
        <div>
          <h2><%= "#{@products.first.name} - #{@products.first.activity}" %></h2>
          <p><%= @products.first.description.truncate(100) %></p>
        </div>
        <h2 class="card-trip-pricing"><%="R$ #{@products.first.price}" %></h2>
      </div>
    </div>
    <% end %>
    <%= link_to product_path(@products.second.id) do %>
    <div class="card-trip ml-2 mr-2">
      <%= cl_image_tag @products.second.photo.key%>
      <div class="card-trip-infos">
        <div>
          <h2><%= "#{@products.second.name} - #{@products.second.activity}" %></h2>
          <p><%= @products.second.description.truncate(100) %></p>
        </div>
        <h2 class="card-trip-pricing ml-1" ><%="R$ #{@products.second.price}" %></h2>
      </div>
    </div>
    <%end%>
    <%= link_to product_path(@products.third.id) do %>
    <div class="card-trip ml-2">
      <%= cl_image_tag @products.third.photo.key%>
      <div class="card-trip-infos">
        <div>
          <h2><%= "#{@products.third.name} - #{@products.third.activity}" %></h2>
          <p><%= @products.third.description.truncate(100) %></p>
        </div>
        <h2 class="card-trip-pricing"><%="R$ #{@products.third.price}" %></h2>
      </div>
    </div>
    <%end%>
  </div>
</div>




<%if current_user.nil? || current_user.company.nil? %>
    <div class="owner">
      <div class="container">
        <p>Do you have a tour company? Register <%= link_to "here", "/companies/new" %> and offer your tour!</p>
      </div>
    </div>
<% end %>
