

<div>
  <div class="container conteudo">
    <div>
      <div class="top-products">
        <h2 class="mt-5">Top trips</h2>
        <div class="d-flex mb-5">
           <%= link_to product_path(@products.first.id) do %>
              <div class="card-trip mr-2">
                <%= cl_image_tag @products.first.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.first.name} - #{@products.first.activity}" %></h2>
                    <p><%= @products.first.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%="R$ #{@products.first.price}" %></h2>
                </div>
              </div>
              <% end %>
              <%= link_to product_path(@products.second.id) do %>
              <div class="card-trip ml-2 mr-2">
                <%= cl_image_tag @products.second.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.second.name} - #{@products.second.activity}" %></h2>
                    <p><%= @products.second.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing ml-1" ><%="R$ #{@products.second.price}" %></h2>
                </div>
              </div>
              <%end%>
              <%= link_to product_path(@products.third.id) do %>
              <div class="card-trip ml-2">
                <%= cl_image_tag @products.third.photo.key%>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= "#{@products.third.name} - #{@products.third.activity}" %></h2>
                    <p><%= @products.third.description.truncate(100) %></p>
                  </div>
                  <h2 class="card-trip-pricing"><%="R$ #{@products.third.price}" %></h2>
                </div>
              </div>
              <%end%>
            </div>
          </div>
    </div>



<!-- Fecha class container -->

<%if current_user.nil? || current_user.company.nil? %>
  <div class="owner">
    <div class="container">
      <p>Do you have a tour company? Register <%= link_to "here", "/companies/new" %> and offer your tour!</p>
    </div>
  </div>
<% end %>
