<div class="container">
  <div>
    <h1>Welcome <%= current_user.first_name %>! </h1>
    <p>This is what you have registered with us!</p>
    <h3>Company: <strong><%= @company.name %></strong> </h3>
    <p><%= "My tours:" %> </p>
    <p><% companies = @company.products %></p>
    <!-- <ul> -->
      <% companies.each do |product|  %>
        <div class='mb-2'>
         <!-- <li> -->

            <div class="d-flex company">
              <%= cl_image_tag product.photo.key, class:"company-img" %>
            <div class='btn-spacing align-middle'>
              <%= link_to product.name, product_path(product.id), :class => "product-name" %>
              <%= link_to 'Edit', edit_product_path(product.id), :class => "btn btn-primary btn-sm" %>
              <%= link_to 'Delete', product_path(product.id), method: :delete, data: {confirm: "Are you sure you want to delete #{product.name}?"}, :class => "btn btn-primary btn-sm" %>
            </div>
            </div>
        <!-- </li> -->
        </div>
      <% end %>
    <!--</ul>-->
    <div class='btn-shw-company'>
      <%= link_to 'Register a new activity', new_product_path, :class => "btn btn-primary mb-5 mr-3" %>
      <%= link_to 'Go to Dashboard', company_dashboard_path, :class => "btn btn-primary mb-5 ml-3" %>
    </div>
  </div>
</div>
