
    <div class="container">
      <h1>Checkout summary</h1>
      <p>Your booking status is <strong> <%= @shopping_cart.status.upcase %>  </strong> </p>
      <div roe>
      <div class="col-12">
      <ul>
        <% @shopping_cart.bookings.each do |booking| %>
          <li>
            <div class="d-flex">
            <%= cl_image_tag booking.product.photo.key, width: '20%' %>
            <div class="m-4">
            Your tour is <strong> <%= booking.product.name %></strong>
            <p> Price <strong><%= humanized_money_with_symbol booking.product.price %></strong> </p>
            </div>
            </div>
            <hr>
          </li>
        <% end %>

        <% @total = 0 %>
        <% @shopping_cart.bookings.each do |booking| %>
          <% @total = @total + booking.price %>
        <% end %>
        <li>
          <h4> Total Price <strong> <%= humanized_money_with_symbol @total %> </strong></h4>
        </li>
      </ul>
      </div>
      </div>
      <button id="pay" class="btn btn-primary">Pay</button>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @shopping_cart.checkout_session_id %>'
          });
        });
      </script>
</p>
</div>

