<div class="container">
  <div class="row py-4">
    <div class="col-md-3">

    </div>
    <div class="col">
      <h1>Checkout summary</h1>
      <p>Purchase of </p>
      <ul>
      <% @shopping_cart.products.each do |product| %>
      <li>
       <%= cl_image_tag product.photo.key, width: '10%' %><strong> <%= product.name %></strong> for <strong><%= humanized_money_with_symbol product.price %></strong>
      <hr>
      </li>
      <% end %>
      <li>Total Price <%= humanized_money_with_symbol @shopping_cart.calc_total_price %> </li>
      </ul>


      <button id="pay" class="btn btn-primary">Pay</button>
      <%= link_to "Teste", shopping_carts_path, method: :post %>

      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @shopping_cart.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
</div>
