
<div class="form-container" id='form-container'>
  <%= simple_form_for([@product, @booking], remote: true) do |f| %>
    <div class="header">
      <div class="header-row">
      <div class="big-bold" id="price">R$ <span id="product-price"> <%= @product.price %></span></div>
      <div class="small-light"> / PARTICIPANT</div>
    </div>
    <%= f.input :date, label: "Choose a date to have fun!" %>
    <%# <div class="flex-between">
      Participants:
      <div class="actions">
        <a class="btn round-bordered incrementer minus" data-offset="-1">-</a>
        <span id="counter" data-count="1">1</span>
        <a class="btn round-bordered incrementer" data-offset="1">+</a>
      </div> %>
    </div>
    <div class="header-row">
      <div class="big-bold" id="price-input"><%= "Total R$ #{@product.price}" %></div>
    </div>
    <div id='guests'>
      <%= f.simple_fields_for :guests do |guest| %>
        <%= render 'products/guest_fields', f: guest %>
            <%end%>
      <div class='links'>
        <%= link_to_add_association 'add guest', f, :guests, id: 'add-guest-btn', partial: 'products/guest_fields' %>
      </div>
    </div>

    <%= f.input :participants, :as => :hidden, :input_html => {:value => 1} %>
    <%= f.submit "Create booking", class: "btn btn-primary" %>
<% end %>
</div>
<%= javascript_pack_tag 'booking_form' %>

