<div class="container mb-5">
    <div class="row">
      <div class="galeria">
        <div id="image-main">
        <% if @product.photo.attached?%>
          <%= cl_image_tag @product.photo.key%>
        <% end %>
        </div>
        <div id="image-sec">
          <%= image_tag("melhor.jpg")%>
           <%= image_tag("melhor.jpg")%>
        </div>
      </div>
    </div>


  <h1 class="product-title mt-3"><%= @product.name %></h1>
  <h3><%= "A #{@product.activity} with #{@product.company.name}. What a good choice!" %></h3>
  <div>
    <p></p>
    <p><strong>Description:</strong></p>
    <p><%= @product.description %></p>
  </div>
    <%= link_to 'Login or register to book', new_user_session_path, :class => "btn btn-primary" unless user_signed_in? %>
    <%= render(:partial => "products/booking_form") unless product_user_check(@product) || !user_signed_in? %>
</div>
