<div class="container mb-5">
    <div class="row">
      <div class="galeria">
        <div id="image-main">
          <%= image_tag("melhor.jpg")%>
        </div>
        <div id="image-sec">
          <%= image_tag("melhor.jpg")%>
           <%= image_tag("melhor.jpg")%>
        </div>
      </div>
    </div>


  <h1 class="product-title mt-3"><%= @product.name %></h1>
  <p><%= "A #{@product.activity} brought to you by #{@product.company.name}" %></p>
  <div>
    <p>Investimos na qualidade de atendimento e em novas tecnologias; prestar assessoria
    personalizada em viagens corporativas/eventos e lazer; fazer da sua viagem a melhor.
    Contamos com uma equipe de profissionais pronta para organizar todos os detalhes de uma
    viagem, toda a estrutura necessária, sempre em sintonia com sua empresa. Sua melhor
    experiência de lazer! ♥</p>
  </div>

    <%= link_to 'Edit product information', edit_product_path, :class => "btn btn-primary" %>
    <%= link_to 'Book it!', new_product_booking_path(@product.id), :class => "btn btn-primary" unless product_user_check(@product) %>

    <%# render(:partial => "products/booking_form") unless product_user_check(@product) %>

</div>
