<!DOCTYPE html>
<html>
  <head>
    <title>Visit Arraial do Cabo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_JS_KEY']}" %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Satisfy&display=swap" rel="stylesheet">
<!--     <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' /> -->
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


    <% if controller_path == "products" || controller_path == "user" || controller_path == "companies" || controller_path == "shopping_carts" || controller_path == "bookings" %>
        <%= render :partial => "layouts/navbar_marketplace" %>
    <% elsif controller_path == "company/bookings" || controller_path == "company/products" %>
      <%= render :partial => "company/bookings/navbar_dashboard" %>
    <% else %>
      <%= render :partial => "layouts/navbar_home" %>
    <% end %>

    <%# unless controller_path == "company/bookings" || controller_path == "company/products" %>
      <%#= render :partial => "layouts/navbar_marketplace" %>
    <%# else %>
      <%#= render :partial => "company/bookings/navbar_dashboard" %>
    <%# end %>

      <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
