<!DOCTYPE html>
<html>
  <head>
    <title>Visit Arraial do Cabo</title>
    <title><%= meta_title %></title>
<meta name="description" content="<%= meta_description %>">

<!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%# This might prevent turbolinks cache %>
    <meta name="turbolinks-cache-control" content="<%= yield(:turbolinks_cache) %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_JS_KEY']}" %>

    <%= favicon_link_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&family=Satisfy&display=swap" rel="stylesheet">


  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
        <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= alert %>
      </div>
    <% end %>


    <% if controller_path == "products" || controller_path == "user" || controller_path == "companies" || controller_path == "shopping_carts" || controller_path == "bookings" %>
        <%= render :partial => "layouts/navbar_marketplace" %>
    <% elsif controller_path == "company/bookings" || controller_path == "company/products" || controller_path == "company/financials" || controller_path == "notifications" %>
      <%= render :partial => "company/bookings/navbar_dashboard" %>
    <% else %>
      <%= render :partial => "layouts/navbar_home" %>
    <% end %>

    <%# unless controller_path == "company/bookings" || controller_path == "company/products" %>
      <%#= render :partial => "layouts/navbar_marketplace" %>
    <%# else %>
      <%#= render :partial => "company/bookings/navbar_dashboard" %>
    <%# end %>
    <%= yield %>
    <%= render :partial => "layouts/footer" %>
  </body>
</html>
